<a href="https://colab.research.google.com/github/vmuniseswar-lab/Python_Practice_2/blob/Python_01/Practive_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import kagglehub
path = kagglehub.dataset_download("jeegarmaru/covid19-new-jersey-nj-local-dataset")

Downloading from https://www.kaggle.com/api/v1/datasets/download/jeegarmaru/covid19-new-jersey-nj-local-dataset?dataset_version_number=75...

100%|██████████| 14.1k/14.1k [00:00<00:00, 18.8MB/s]

Extracting files...

In [6]:
import os
print(os.listdir(path))

['Covid-19-NJ-Counties.csv', 'Covid-19-NJ-Bergen-Municipality.csv']

In [11]:
import os
print(os.listdir(path))

['Covid-19-NJ-Counties.csv', 'Covid-19-NJ-Bergen-Municipality.csv']

In [14]:
import pandas as pd
import os
df = pd.read_csv(os.path.join(path, "Covid-19-NJ-Counties.csv"))
df.head()

,Date,Atlantic,Bergen,Burlington,Camden,Cape May,Cumberland,Essex,Gloucester,Hudson,...,Passaic,Salem,Somerset,Sussex,Union,Warren,Total Positive Cases,Total Negative Cases,Deaths,Under Investigation
0,2020-03-09,0,6,0,1,0,0,0,0,1,...,1,0,0,0,1,0,12,35.0,0,NaN
1,2020-03-10,0,7,2,1,0,0,0,0,1,...,1,0,0,0,1,0,15,44.0,1,31.0
2,2020-03-11,0,11,2,1,0,0,0,0,1,...,1,0,0,0,1,0,23,57.0,1,37.0
3,2020-03-12,0,13,2,1,0,0,1,0,1,...,1,0,1,0,1,0,29,74.0,1,37.0
4,2020-03-13,0,17,3,1,0,0,6,0,3,...,3,0,1,0,1,0,50,97.0,1,NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  108 non-null    object
 1   Atlantic              108 non-null    int64
 2   Bergen                108 non-null    int64
 3   Burlington            108 non-null    int64
 4   Camden                108 non-null    int64
 5   Cape May              108 non-null    int64
 6   Cumberland            108 non-null    int64
 7   Essex                 108 non-null    int64
 8   Gloucester            108 non-null    int64
 9   Hudson                108 non-null    int64
 10  Hunterdon             108 non-null    int64
 11  Mercer                108 non-null    int64
 12  Middlesex             108 non-null    int64
 13  Monmouth              108 non-null    int64
 14  Morris                108 non-null    int64
 15  Ocean                 108 non-null    int64
 16  Passaic               108 non-null    int64
 17  Salem                 108 non-null    int64
 18  Somerset              108 non-null    int64
 19  Sussex                108 non-null    int64
 20  Union                 108 non-null    int64
 21  Warren                108 non-null    int64
 22  Total Positive Cases  108 non-null    int64
 23  Total Negative Cases  107 non-null    float64
 24  Deaths                108 non-null    int64
 25  Under Investigation   104 non-null    float64
dtypes: float64(2), int64(23), object(1)
memory usage: 22.1+ KB

In [16]:
df.describe()

,Atlantic,Bergen,Burlington,Camden,Cape May,Cumberland,Essex,Gloucester,Hudson,Hunterdon,...,Passaic,Salem,Somerset,Sussex,Union,Warren,Total Positive Cases,Total Negative Cases,Deaths,Under Investigation
count,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,...,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,108.000000,1.070000e+02,108.000000,104.000000
mean,1138.074074,12240.203704,2576.490741,3554.203704,336.537037,1115.370370,11145.425926,1231.768519,11597.972222,569.157407,...,9968.361111,314.166667,2829.027778,716.981481,9958.462963,713.490741,99389.222222,3.180354e+05,6591.509259,1062.134615
std,992.701767,7070.391448,1907.731826,2731.354759,258.014070,1061.890798,7015.128912,928.225889,7388.745224,391.035007,...,6541.833117,279.196427,1843.627121,446.585237,6330.521454,474.851310,63352.015914,3.509346e+05,4976.333940,1007.421201
min,0.000000,6.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,12.000000,3.500000e+01,0.000000,2.000000
25%,115.250000,6080.250000,527.500000,537.250000,70.250000,50.500000,3957.500000,239.750000,3815.750000,184.500000,...,3134.250000,25.750000,816.000000,259.250000,3141.000000,191.750000,36659.750000,4.294650e+04,899.250000,644.500000
50%,1031.000000,15902.000000,2824.000000,3709.500000,335.500000,777.500000,14121.000000,1308.000000,15274.500000,615.000000,...,12948.000000,249.000000,3571.000000,942.500000,12887.500000,930.500000,122453.500000,1.385950e+05,7640.000000,730.500000
75%,2128.500000,18171.250000,4486.750000,6306.500000,604.250000,2161.750000,17474.000000,2173.250000,18241.250000,975.750000,...,15980.500000,594.500000,4529.500000,1104.500000,15508.750000,1147.750000,158072.250000,5.428045e+05,11433.500000,1086.000000
max,2771.000000,19097.000000,5068.000000,7185.000000,705.000000,2908.000000,18617.000000,2497.000000,18775.000000,1064.000000,...,16794.000000,752.000000,4819.000000,1180.000000,16351.000000,1222.000000,169892.000000,1.129753e+06,12995.000000,4866.000000

In [26]:
print(df.head())

         Date  Atlantic  Bergen  Burlington  Camden  Cape May  Cumberland  \
0  2020-03-09         0       6           0       1         0           0
1  2020-03-10         0       7           2       1         0           0
2  2020-03-11         0      11           2       1         0           0
3  2020-03-12         0      13           2       1         0           0
4  2020-03-13         0      17           3       1         0           0

   Essex  Gloucester  Hudson  ...  Passaic  Salem  Somerset  Sussex  Union  \
0      0           0       1  ...        1      0         0       0      1
1      0           0       1  ...        1      0         0       0      1
2      0           0       1  ...        1      0         0       0      1
3      1           0       1  ...        1      0         1       0      1
4      6           0       3  ...        3      0         1       0      1

   Warren  Total Positive Cases  Total Negative Cases  Deaths  \
0       0                    12                  35.0       0
1       0                    15                  44.0       1
2       0                    23                  57.0       1
3       0                    29                  74.0       1
4       0                    50                  97.0       1

   Under Investigation
0                  NaN
1                 31.0
2                 37.0
3                 37.0
4                  NaN

[5 rows x 26 columns]

In [27]:
df.tail()

,Date,Atlantic,Bergen,Burlington,Camden,Cape May,Cumberland,Essex,Gloucester,Hudson,...,Passaic,Salem,Somerset,Sussex,Union,Warren,Total Positive Cases,Total Negative Cases,Deaths,Under Investigation
103,2020-06-20,2638,18996,4994,7117,705,2792,18515,2457,18775,...,16735,748,4806,1176,16298,1211,168834,1050039.0,12857,710.0
104,2020-06-21,2702,19010,5023,7135,688,2847,18551,2467,18744,...,16769,750,4813,1176,16322,1216,169142,1075825.0,12870,663.0
105,2020-06-22,2722,19037,5046,7153,692,2876,18578,2471,18755,...,16772,752,4819,1178,16340,1218,169415,1097984.0,12895,656.0
106,2020-06-23,2750,19069,5056,7163,694,2894,18592,2489,18773,...,16794,752,4818,1178,16341,1221,169734,1113717.0,12949,697.0
107,2020-06-24,2771,19097,5068,7185,697,2908,18617,2497,18771,...,16788,750,4819,1180,16330,1222,169892,1129753.0,12995,698.0